
/*
 * Horus Hiero
 *
 * @author Per Löwgren
 * @date Modified: 2016-01-07
 * @date Created: 2013-01-02
 */

ul.hiero {
	list-style: none;
	display: inline-block;
	padding: 0;
	border: 0 none;
	vertical-align: bottom;
}

ul.hiero,
ul.hiero ul,
ul.hiero li {
	font-family: serif;
	font-style: normal;
	font-weight: bold;
	font-size: 100%;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	margin: 0;
}

ul.hiero ul,
ul.hiero li {
	vertical-align: top;
}

ul.hiero ul {
	padding: 0;
}

ul.hiero li {
	display: block;
	padding: 0 1px;
	border: 0 none;
}

ul.hiero-ltr li {
	float: left;
}

div.hiero-blank {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

ul.hiero img {
	image-rendering: auto;
	-ms-interpolation-mode: bicubic;
	text-align: center;
	vertical-align: middle;
	line-height: 50%;
	margin: 1px;
}

ul.hiero-subordinate > li {
	display: block;
	float: none;
	margin: auto auto;
	vertical-align: bottom;
}

ul.hiero-subordinate > li > img {
	text-align: center;
	vertical-align: middle;
	display: block;
	float: none;
	line-height: 50%;
	margin: 1px auto;
}

ul.hiero-juxtaposition > li {
	display: inline-block;
	float: none;
	margin: auto auto;
	vertical-align: bottom;
}

ul.hiero-juxtaposition > li > img {
	text-align: center;
	vertical-align: bottom;
	display: block;
	float: none;
	line-height: 50%;
	margin: auto 0;
}

div.hiero-cartouche-left-1,
div.hiero-cartouche-left-2,
div.hiero-cartouche-right-1,
div.hiero-cartouche-right-2 {
	display: inline-block;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	vertical-align: top;
}

div.hiero-cartouche-left-1 > ul {
	background-image: url(cartouche-left-1.png);
}
div.hiero-cartouche-left-2 > ul {
	background-image: url(cartouche-left-2.png);
}
div.hiero-cartouche-right-1 {
	background-image: url(cartouche-right-1.png);
}
div.hiero-cartouche-right-2 {
	background-image: url(cartouche-right-2.png);
}

hr.hiero {
	margin: 2px 0;
	border-style: solid none;
	border-width: 1px 0 0 0;
	border-color: black black;
}

